
@{
    ViewBag.Title = "Početna stranica";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron" style="background-color:#1c8eb8;">
    <h1 style="background-color:#1c8eb8; border-radius:6px; border-width:50px;"> &nbsp;&nbsp;  <u>Web oglasnik</u></h1>
</div>
<div class="row">
    <div class="col-md-6">
        <h2>Svi oglasi</h2>
        <p>@Html.ActionLink("Oglasi", "Popis", "Oglas", null, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-6">
        <h2>Predaj oglas</h2>
        @if (Session["ID"] != null) {
        <p>@Html.ActionLink("Predaj oglas", "Azuriraj", "Oglas", null, new { @class = "btn btn-default" })</p>
        }
        else {
        <p>@Html.ActionLink("Predaj oglas", "Login", "Korisnik", null, new { @class = "btn btn-default" })</p>
        }
    </div>
</div>