@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-color:#1c8eb8;">
    <h1>Auto oglasnik</h1>
    <p class="lead">Želite prodat ili kupiti auto? Na pravom ste mjestu!</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Prijava &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Želis prodati svoj auto?</h2>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Predaj oglas &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Želite kupiti auto?</h2>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Oglasi &raquo;</a></p>
    </div>

</div>